[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "safestats"]
	path = safestats
	url = https://github.com/alexanderlynl/safestats
	shallow = true
	registered = true
